NODE_ENV=development
PORT=3000
MONGODB_URI="mongodb+srv://username:password@cluster0.mongodb.net/?appName=Cluster0"

# Founder Credentials (Full Access: Responses, Profiles, Roles, Projects, Invites)
FOUNDER_USERNAME="admin"
FOUNDER_PASSWORD="CNS@Founder123"

# Admin Credentials (Limited: Approve/Decline Responses, WhatsApp Invites ONLY)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="CNS@Admin123"

# Session Security Secret
SESSION_SECRET="your-generated-session-secret-here"

# WhatsApp Developer Group Invite URL
WHATSAPP_GROUP_INVITE_URL="https://chat.whatsapp.com/KxJbywxaRpwFwMOloFufPm"

GITHUB_TOKEN=""
