NODE_ENV="development" # Or production
MONGODB_URI="mongodb://127.0.0.1:27017/codenosekai" # Or MongoDB Atlas URI: mongodb+srv://<username>:<password>@cluster.mongodb.net/codenosekai
PORT=3000 # Port of the express server


